@use '../styles/colors';
@use '../styles/mobile';
@use "sass:string";

.popup {
    background-color: var(--color-body-background);
    color: var(--color-text);
    border: colors.$borderStyle;
    border-radius: 1rem;
    max-width: string.unquote("max(800px, 50%)");

    @media #{mobile.$mobile} {
        max-width: mobile.$bodyWidthMobile;
    }

    .content {
        padding: 1rem 2rem;
    }

    &::backdrop {
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(5px);
    }
}