@import '../styles/colors';
@import '../styles/mobile';

.popup {
    background-color: $backgroundColor;
    color: $bodyColor;
    border: 1px solid white;
    border-radius: 1rem;
    max-width: unquote("max(800px, 50%)");

    @media #{$mobile} {
        max-width: $bodyWidthMobile;
    }

    .content {
        padding: 1rem 2rem;
    }

    &::backdrop {
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(5px);
    }
}