@import '../styles/colors';

.wrapper {
    label:has(input:checked) {
        background-color: $accentColorOffWhite;
    }

    display: flex;
    justify-content: center;
    margin-left: 1em;
}

.outer {
    display: block;
    width: 3rem;
    height: 1.5rem;
    border-width: 1px;
    border-radius: 9999px;
    background-color: $backgroundColor;
    padding: 0.1rem;
    border-color: $accentColorOffWhite;
    margin-top: auto;
    margin-bottom: auto;

    input {
        visibility: hidden;
        position: absolute;
    }

    div {
        user-select: none;
        height: 100%;
        aspect-ratio: 1/1;
        border-width: 1px;
        border-radius: 100%;
        border-color: $backgroundColor;
        background-color: $accentColorOffWhite;
    }

    input:checked+div {
        background-color: $backgroundColor;
        margin-left: auto;
    }

}