@import '../styles/colors';

$borderStyle: 1px solid $accentColorOffWhite;

.wrapper {
    .switchContainer {
        margin: 0.4rem auto;
        display: flex;
        justify-content: center;
        flex-direction: row;
        border-radius: 100vh;
        border: 1px solid $bodyColor;
    }

    .switchElement {
        padding: 0.3rem 0.7rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .switchElement:first-child {
        border-radius: 100vh 0 0 100vh;
        border-right: none;
    }

    .switchElement:nth-child(2) {
        flex-shrink: 0;
        flex-grow: 1;
    }

    .switchElement:last-child {
        border-radius: 0 100vh 100vh 0;
        border-left: none;
    }

    // IGNORE
    :has(:nth-child(2) :checked) {
        .switchElement:nth-child(2) {
            background: $accentColorDarkBlue;
            border: $borderStyle;
            border-radius: 100vh;
        }
    }

    // REQUIRE
    :has(:first-child :checked) {
        .switchElement:not(:last-child) {
            background: $accentColorGreen;
            border: $borderStyle;
            border-right: none;
        }

        .switchElement:nth-child(2) {
            border: $borderStyle;
            border-left: none;
            border-radius: 0 100vh 100vh 0;
        }
    }

    // PROHIBIT
    :has(:last-child :checked) {
        .switchElement:not(:first-child) {
            background: $accentColorRed;
            border: $borderStyle;
            border-left: none;
        }

        .switchElement:nth-child(2) {
            border: $borderStyle;
            border-right: none;
            border-radius: 100vh 0 0 100vh;
        }
    }
}