@import '../styles/colors';

.wrapper {
    .switchContainer {
        margin: 0.4rem auto;
        display: flex;
        justify-content: center;
        flex-direction: row;
        border-radius: 100vh;
        border: $borderStyle;
    }

    .switchElement {
        padding: 0.3rem 0.7rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .switchElement:first-child {
        border-radius: 100vh 0 0 100vh;
        border-right: none;
    }

    .switchElement:nth-child(2) {
        flex-shrink: 0;
        flex-grow: 1;
    }

    .switchElement:last-child {
        border-radius: 0 100vh 100vh 0;
        border-left: none;
    }

    // IGNORE
    :has(:nth-child(2) :checked) {
        .switchElement:nth-child(2) {
            background: var(--color-accent-background);
            border-left-width: 1px;
            border-right-width: 1px;
            border-radius: 100vh;
        }
    }

    // REQUIRE
    :has(:first-child :checked) {
        .switchElement:not(:last-child) {
            background: var(--color-green);
            border-right-width: 1px;
        }

        .switchElement:nth-child(2) {
            border-right-width: 1px;
            border-radius: 0 100vh 100vh 0;
        }
    }

    // PROHIBIT
    :has(:last-child :checked) {
        .switchElement:not(:first-child) {
            background: var(--color-red);
            border-left-width: 1px;
        }

        .switchElement:nth-child(2) {
            border-left-width: 1px;
            border-radius: 100vh 0 0 100vh;
        }
    }
}