$blue: #010c1e;
$accentColorDarkBlue: #062048;
$accentColorLightBlue: #052049;
$accentColorOffWhite: #c6cdd7;

$borderStyle: var(--border-thickness) solid var(--color-text);

* {
    border-color: var(--color-text);
}

@mixin dark-mode-styling {
    --color-body-background: #{$blue};
    --color-text: #d5d9e0;
    --color-accent-background: #{$accentColorDarkBlue};
    --color-input-background: #{$accentColorOffWhite};
    --color-input-text: #{$blue};
    --color-red: #600000;
    --color-red-foreground: #f87171;
    --color-green: #004000;
    --color-yellow-foreground: #facc15;
    --border-thickness: 1px;
}

@mixin light-mode-styling {
    --color-body-background: white;
    --color-text: #{$blue};
    --color-accent-background: #8bb6fb;
    --color-input-background: #{$accentColorOffWhite};
    --color-input-text: #{$blue};
    --color-red: #FF6060;
    --color-red-foreground: #dc2626;
    --color-green: #70d070;
    --color-yellow-foreground: #ca8a04;
    --border-thickness: 2px;
}

body {
    @include dark-mode-styling();

    @media (prefers-color-scheme: light) {
        @include light-mode-styling();
    }
}

body.light-mode {
    @include light-mode-styling();
}

body.dark-mode {
    @include dark-mode-styling();
}

.bg-accentColorBackground {
    background-color: var(--color-accent-background);
}

.fg-yellow {
    color: var(--color-yellow-foreground);
}

.fg-red {
    color: var(--color-red-foreground);
}