$htmlBackgroundColor: #010411;
$backgroundColor: #010c1e;
$bodyColor: #d5d9e0;
$bodyFont: Avenir, Helvetica, Arial, sans-serif;
$accentColorDarkBlue: #062048;
$accentColorLightBlue: #052049;
$accentColorOffWhite: #c6cdd7;
$accentColorRed: #600000;
$accentColorGreen: #004000;

.bg-accentColorRed {
    background-color: $accentColorRed;
}

.bg-accentColorDarkBlue {
    background-color: $accentColorDarkBlue;
}