.rc-slider {
    margin-bottom: 0.9rem;

    .rc-slider-mark-text {
        color: white;
        font-size: 0.9rem;
    }

    .rc-slider-handle {
        width: 20px;
        height: 20px;
        margin-top: -8px;
        opacity: unset;
    }

}