.rc-slider {
    margin-bottom: 0.9rem;

    .rc-slider-rail,
    .rc-slider-track {
        background-color: var(--color-accent-text);
    }

    .rc-slider-dot,
    .rc-slider-dot-active,
    .rc-slider-handle {
        border-color: var(--color-accent-text) !important;
        box-shadow: none !important;
    }

    .rc-slider-mark-text {
        color: var(--color-text);
        font-size: 0.9rem;
    }

    .rc-slider-handle {
        width: 20px;
        height: 20px;
        margin-top: -8px;
        opacity: unset;
    }
}