@tailwind base;
@tailwind components;
@tailwind utilities;


@import './colors';
@import './mobile';
@import './slider';


html {
    background-color: $htmlBackgroundColor;
    height: 100%;
}

body {
    color: $bodyColor;
    font-family: $bodyFont;
    background-color: $backgroundColor;
    margin: 0 auto;
    min-height: 100%;
    width: $bodyWidth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media #{$mobile} {
    body {
        width: $bodyWidthMobile;
    }
}

h1 {
    font-size: 2.6rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1.2rem;
}

main {
    padding: 30px;
}

main a {
    color: inherit;
}

hr {
    margin-top: 4em;
    margin-bottom: 1em;
}

button {
    display: block;
}

select {
    background-color: $backgroundColor;
    margin-top: 0.3em;
    border: 1px $accentColorOffWhite solid;
}

a {
    text-decoration: underline;
}

header {
    a {
        text-decoration: none;
    }

    form {
        columns: 3 300px;
        column-gap: 5%;

        label {
            display: block;
        }

        fieldset {
            break-inside: avoid-column;
            padding: 1rem 0;
        }

        h2,
        h3 {
            margin: 0 auto;
            width: fit-content;
        }
    }
}