@use './colors';
@use 'mobile';
@use 'slider';

@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    height: 100%;
}

body {
    color: var(--color-text);
    font-family: Avenir, Helvetica, Arial, sans-serif;
    background-color: var(--color-body-background);
    margin: 0 auto;
    min-height: 100%;
    width: mobile.$bodyWidth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media #{mobile.$mobile} {
    body {
        width: mobile.$bodyWidthMobile;
    }
}

h1 {
    font-size: 2.6rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1.2rem;
}

main {
    padding: 3rem;
}

main a {
    color: inherit;
}

hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

button {
    display: block;
}

select {
    background-color: var(--color-body-background);
    margin-top: 0.3em;
    border: colors.$borderStyle;
}

a {
    text-decoration: underline;
}

header a {
    text-decoration: none;
}

input {
    background-color: var(--color-input-background);
    color: var(--color-input-text);

    // hide radio button circles
    &[type='radio'] {
        position: absolute;
        left: -9999px;
    }
}

:focus {
    outline: none;
}

.border {
    border-width: var(--border-thickness);
}